* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(27, 26, 26);
}
.heading {
  color: white;
}
#dropdown {
  display: flex;
  align-items: center;
  color: white;
}
#phone {
  padding: 10px 5px;
}
#password {
  color: white;
}
.password-box {
  display: flex;
  flex-direction: column;
}
#pw-placeholder {
  width: 60px;
  padding: 5px 5px;
}
#btn {
  background-color: green;
  padding: 5px;
}
